.nav-link{
    border: 2px solid transparent;
}

.nav-link:hover{
    border-bottom: 2px solid white;
    padding-bottom: 3px;
}

.nav-link.active{
    border-bottom: 2px solid white;
    padding-bottom: 3px;
}